body { background: #ee59c9; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 14px; display: flex; }
.block-cache-0 { color: #b0fb57; font-size: 16px; margin-bottom: 5px; }
.block-sms-1 { color: #6d8aef; font-size: 20px; margin-bottom: 5px; }
.block-notify-2 { color: #f3b4c8; font-size: 15px; margin-bottom: 5px; }
.block-cache-3 { color: #6bd3c6; font-size: 18px; margin-bottom: 5px; }
.block-helper-4 { color: #4268d0; font-size: 21px; margin-bottom: 5px; }
.block-cache-5 { color: #d5a3c3; font-size: 16px; margin-bottom: 5px; }
.block-database-6 { color: #2925b8; font-size: 13px; margin-bottom: 5px; }
.block-email-7 { color: #d98daf; font-size: 19px; margin-bottom: 5px; }
.block-notify-8 { color: #f4c9dc; font-size: 13px; margin-bottom: 5px; }
.block-database-9 { color: #35901c; font-size: 12px; margin-bottom: 5px; }
.block-auth-10 { color: #cee5a4; font-size: 12px; margin-bottom: 5px; }